# 01 Get Market Data

In [1]:
!conda env list

# conda environments:
#
base                     /home/ubuntu/anaconda3
alert                    /home/ubuntu/anaconda3/envs/alert
aws_neuron_mxnet_p36     /home/ubuntu/anaconda3/envs/aws_neuron_mxnet_p36
aws_neuron_tensorflow_p36     /home/ubuntu/anaconda3/envs/aws_neuron_tensorflow_p36
chainer_p27              /home/ubuntu/anaconda3/envs/chainer_p27
chainer_p36              /home/ubuntu/anaconda3/envs/chainer_p36
ml                    *  /home/ubuntu/anaconda3/envs/ml
mxnet_p27                /home/ubuntu/anaconda3/envs/mxnet_p27
mxnet_p36                /home/ubuntu/anaconda3/envs/mxnet_p36
python2                  /home/ubuntu/anaconda3/envs/python2
python3                  /home/ubuntu/anaconda3/envs/python3
pytorch_p27              /home/ubuntu/anaconda3/envs/pytorch_p27
pytorch_p36              /home/ubuntu/anaconda3/envs/pytorch_p36
tensorflow2_p27          /home/ubuntu/anaconda3/envs/tensorflow2_p27
tensorflow2_p36          /home/ubuntu/anaconda3/envs/tensorflow2_p36
tensorflow_p27           /home/ubuntu/anaconda3/envs/tensorflow_p27
tensorflow_p36           /home/ubuntu/anaconda3/envs/tensorflow_p36

In [8]:
import sys
from pathlib import Path
# add project folder to sys path
sys.path.append(str(Path.cwd().parent))

In [12]:
# import libraries
import datetime as dt
import pandas as pd
from util import get_data, plot_data

In [14]:
# define date range
start_date=dt.datetime(2008, 1, 1)
end_date=dt.datetime(2009, 1, 1)
dates = pd.date_range(start_date, end_date)

In [16]:
df = get_data(symbols=['GOOG', 'AAPL', 'GLD'], dates=dates)

In [17]:
df.head()

               SPY    GOOG    AAPL    GLD
2008-01-02  132.15  685.19  194.01  84.86
2008-01-03  132.09  685.33  194.10  85.57
2008-01-04  128.85  657.00  179.28  85.13
2008-01-07  128.74  649.25  176.88  84.77
2008-01-08  126.66  631.68  170.52  86.78